<form #loginForm=ngForm (ngSubmit)=getData(loginForm)>
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input required ngModel name="firstName" #firstName="ngModel" (change)="log(firstName)" id="firstName"
            type="text" class="form-control">
        <div style="color:red" *ngIf="firstName.errors && (firstName.dirty ||firstName.touched)">
            <p *ngIf="firstName.errors.required"> First Name is Mandatory
        </div>
    </div>
    <div class="form-group">
        <label for="lasttName">Last Name</label>
        <input required ngModel name="lastName" #lastName="ngModel" (change)="log(lastName)" id="lastName" type="text"
            class="form-control">
        <div style="color:red" *ngIf="lastName.errors && (lastName.dirty ||lastName.touched)">
            <p *ngIf="lastName.errors.required"> Last Name is Mandatory
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Submit</button>
        </div>
        Details are : {{loginForm.value |json}}
    </div>
</form>